<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdvC__Lab7.Properties.Settings.SE255_MMABooksConnectionString"
            connectionString="Data Source=SQL.NEIT.EDU;Initial Catalog=SE255_MMABooks;Persist Security Info=True;User ID=SE256_Paquin;Password=Paquin16"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>